# Ignore everything by default
/*

# Allow only selected files and folders
!.zshrc
!.gitignore
!.config/
!.config/nvim/
!.config/kitty/
|.local/bin
# Re-ignore noisy subdirs inside allowed folders
.config/gtk-3.0/
.config/gtk-4.0/
.config/spotify/
.config/discord/

# Never track:
.cache/
.local/
.asdf/
.vscode/
Downloads/
Documents/
Videos/
Music/
Pictures/
.config/kitty/kitty-themes
.config/nvim/lazy-lock.json
lazy-lock.json
