* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family: "NotoSansM Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  transition: background-color .3s ease-out;
}

window#waybar {
  background-color: rgba(35, 35, 36, 0.4);
  font-family: 
    JetBrainsMonoNL Nerd Font;
  transition: background-color .5s;
  margin: 0px;
  font-weight: normal;
}

.modules-left
{
  margin: 0px;
  padding: 0 5px;
  color: white;
  border-radius: 25px;
  background-color: #16243b;
  border-bottom: solid #979998 2px;


}
.modules-center {
  margin: 0px;
  padding: 0 10px;
  color: white;
  border-radius: 25px;
  border-bottom: solid #979998 2px;
  background-color: #16243b;

  font-weight: normal;

}

.modules-right {
  border-radius: 25;
  background-color: #16243b;
  padding: 0 10px;
  border-bottom: solid #979998 2px;

}


#clock {
  color: white;
  padding: 0 10px;
}

#tray,
#custom-audio-main,
#custom-audio-music,
#custom-mouse-battery,
#custom-cpu,
#memory,
#network {
  padding: 0 5;
  border-radius: 0px;
  margin: 0 0px;
}

#workspaces button {
  background: transparent;
  font-family:
    SpaceMono Nerd Font,
    feather;
  font-weight: normal;
  font-size: 13pt;
  border:none;
  border-radius: 0px;
  color: white;
}

#workspaces button.active {
  font-weight: 900;
  font-size: 16pt;
  color: #00bd42;
}

#workspaces button:hover {
  background: #6273b5;
  border-radius: 0px;
  box-shadow: none;
}

