* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family: "NotoSansM Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  transition: background-color .3s ease-out;
}

window#waybar {
  background: transparent;
  font-family: 
    JetBrainsMonoNL Nerd Font;
  transition: background-color .5s;
  margin: 0px;
  font-weight: normal;
}

.modules-left
{
  margin: 0px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #76A7F4;
  color: black;
}
.modules-center {
  margin: 0px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #76A7F4;
  color: black;
  font-weight: normal;

}

.modules-right


#clock {
  color: black;
  padding: 0 10px;
}

#tray,
#custom-audio-main,
#custom-audio-music,
#custom-mouse-battery,
#custom-cpu,
#memory,
#network {
  padding: 0 5;
  border-radius: 0;
  margin: 0 0px;
}
#memory {
  color: black;
  background-color: #CDC9F8;
}
#custom-cpu {
  color: black;
  background-color: #C9B7F5;

}
#network {
  color: black;
  background-color: #C4A5F3;
}

#custom-audio-music {
  color: black;
  background-color: #9A89E6;
}

#custom-audio-main {
  color: black;
  background-color: #6071D7;
}

#custom-mouse-battery {
  color: black;
  background-color: #6B8CE6;
}

#tray {
  color: black;
  background-color: #76A7F4;
}

#workspaces button {
  background: transparent;
  font-family:
    SpaceMono Nerd Font,
    feather;
  font-weight: 900;
  font-size: 13pt;
  border:none;
  border-radius: 0px;
  color: black;
}

#workspaces button.active {
  background: #59b1dc; 
  border-radius: 5px;
}

#workspaces button:hover {
  background: #6273b5;
  border-radius: 0px;
  box-shadow: none;
}

